* {
    box-sizing: border-box;
    
    width:100%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-align: center;


}
main{
    height:100%;
}
h2{
    margin:0px;
}
#about-me {
    background:lightgray;
    height:300px;
    
}

#project1 {
    height:400px;
    background: lightgray
}

#project2 {
   height: 400px;
    background: gray;
}

#toggle {
    display: none;

}

label {
    cursor: pointer;
}



h2 {
    color: black;
    font-style: italic;
}



p {
    background: black;
    border-radius: 150px;
    padding: 30px 40px;


}
#other{
    height:135px;
}

header {
    
    width: 100%;
    background-color: lightgray;
    font-family: 'Audiowide', cursive;
    width: 100%;
    font-weight: 15px;

}

html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;

}

body {
    height: 100%;
display:flex;
flex-direction: column;
justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    width: 100%;
    


}


section {
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 200px;
    
}

.projects{
    background:gray;
}

footer{
    position:fixed;
    bottom:0px;
    background:#d1cfce;
          
        }



